/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Login Form */
form {
  margin-top: 12%;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* button {
    background-color: red;
  } */
}
form h1 {
  font-weight: normal;
  text-align: center;
  font-size: 28px;
  margin-top: 0;
  color: aliceblue;
}
form input:not([type=submit]) {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: 0.35s;
  padding-left: 35px;
}
form input:not([type=submit])[type=text] {
  background: url(../images/person_FILL0_wght400_GRAD0_opsz24.png) no-repeat center left 5px;
  background-color: #fff;
}
form input:not([type=submit])[type=password] {
  background: url(../images/lock_FILL0_wght400_GRAD0_opsz24.png) no-repeat center left 5px;
  background-color: #fff;
}
form input:not([type=submit])[type=email] {
  background: url(../images/mail_FILL0_wght400_GRAD0_opsz24.png) no-repeat center left 5px;
  background-color: #fff;
}
form input:not([type=submit]):hover {
  border: 1px solid skyblue;
  box-shadow: 0 0 5px skyblue;
}
form input[type=submit] {
  background-color: skyblue;
  border: none;
  width: 100%;
  padding: 12px;
  cursor: pointer;
}
/* form input[type=submit]:hover {
  background-color: #000;
} */